<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>lab express</title>
</head>

<body>
    <nav>
        <ul id="nav-bar">
            <li class="links"><a href="/home">home-page</a></li>
            <li class="links"><a href="/photo">photo-gallery-page</a></li>
            <li class="links"><a href="/Works">Works-page</a></li>
        </ul>
    </nav>
    <h1>About Page</h1>
    <h2>Welcome to my about page</h2>
    <div class="about">
        <div class="about_article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum earum maxime ea a. Nemo consequuntur at quos quisquam architecto dolore debitis impedit optio, eveniet quidem quia placeat inventore consectetur. Cumque eveniet alias, sunt
                repudiandae fuga dicta quis odio rem aliquid, excepturi harum aliquam rerum adipisci. Nihil id delectus obcaecati praesentium, quaerat corrupti assumenda at! Nam tempore perferendis et nostrum? Ipsa eum tenetur itaque nostrum reiciendis
                ut voluptatum veritatis minus quis. Quos saepe aspernatur veniam adipisci architecto. Adipisci quibusdam, ut hic, nemo sunt rerum eos explicabo sed ab repudiandae maxime.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum earum maxime ea a. Nemo consequuntur at quos quisquam architecto dolore debitis impedit optio, eveniet quidem quia placeat inventore consectetur. Cumque eveniet alias, sunt
                repudiandae fuga dicta quis odio rem aliquid, excepturi harum aliquam rerum adipisci. Nihil id delectus obcaecati praesentium, quaerat corrupti assumenda at! Nam tempore perferendis et nostrum? Ipsa eum tenetur itaque nostrum reiciendis
                ut voluptatum veritatis minus quis. Quos saepe aspernatur veniam adipisci architecto. Adipisci quibusdam, ut hic, nemo sunt rerum eos explicabo sed ab repudiandae maxime.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum earum maxime ea a. Nemo consequuntur at quos quisquam architecto dolore debitis impedit optio, eveniet quidem quia placeat inventore consectetur. Cumque eveniet alias, sunt
                repudiandae fuga dicta quis odio rem aliquid, excepturi harum aliquam rerum adipisci. Nihil id delectus obcaecati praesentium, quaerat corrupti assumenda at! Nam tempore perferendis et nostrum? Ipsa eum tenetur itaque nostrum reiciendis
                ut voluptatum veritatis minus quis. Quos saepe aspernatur veniam adipisci architecto. Adipisci quibusdam, ut hic, nemo sunt rerum eos explicabo sed ab repudiandae maxime.</p>
        </div>
        <div class="about_image">
            <img src="/images/cat3.jpg" alt="cat image">
        </div>
    </div>
</body>

</html>