<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>lab express</title>
</head>

<body>
    <nav>
        <ul id="nav-bar">
            <li><a class="links" href="/About">About page</a></li>
            <li><a class="links" href="/photo">photoGallery page</a></li>
            <li><a class="links" href="/Works">Works page</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
    <h2>Welcome to my homepage</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui
        aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat,
        hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum
        at delectus fugit unde a temporibus dolribus quo voluptates deleniti fugiat provident nihil dolore!</p>
    <p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur
            esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem
            nostrum at delectus fugit unde a temporibus dolribus quo voluptates deleniti fugiat provident nihil dolore!</p>
    </p>

</body>

</html>