<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>lab express</title>
</head>

<body>
    <nav>
        <ul id="nav-bar">
            <li class="links"><a href="/About" sr>About page</a></li>
            <li class="links"><a href="/home">home</a></li>
            <li class="links"><a href="/Works">works page</a></li>
        </ul>
    </nav>
    <h1>photoGallery Page</h1>
    <p>Welcome to my photoGallerypage</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui
        aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat,
        hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum
        at delectus fugit unde a temporibus dolribus quo voluptates deleniti fugiat provident nihil dolore!</p>
    <div class="images">
        <img class="img" src="/images/cat1.png" alt="cat image">
        <img class="img" src="/images/cat2.jpg" alt="cat2 image">
        <img class="img" src="/images/cat4.png" alt="">
    </div>

</body>

</html>