<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>lab express</title>
</head>

<body>
    <nav>
        <ul id="nav-bar">
            <li class="links"><a href="/About">About-page</a></li>
            <li class="links"><a href="/photo">photo-gallery-page</a></li>
            <li class="links"><a href="/home">Home</a></li>
        </ul>
    </nav>
    <h1>Works Page</h1>
    <h2>Welcome to my workspage</h2>
    <div id="articles">
        <div id="title1">
            <h3>Title 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                ui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus dolribus quo voluptates deleniti fugiat provident nihil dolore!</p>
        </div>

        <div id="title2">
            <h3>Title 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Fuga qui aspernatur esse quaerat,</p>
        </div>
        <div id="title3">
            <h3>Title 3</h3>
            <p>hic exercitationem nostrum at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum
                at delectus fugit unde a temporibus doloribus quo voluptates deleniti fugiat provident nihil dolore!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui aspernatur esse quaerat, hic exercitationem nostrum at delectus fugit
                unde a temporibus dolribus quo voluptates deleniti fugiat provident nihil dolore!
            </p>
        </div>
    </div>

</body>

</html>